@{
    ViewBag.Title = "AdminView";
    Layout = "~/views/shared/_Layout2.cshtml";
}

<br />
<br />
<br />
<br />
<div class="jumbotron">
    <label class="lbl-cls2">-----------Admin-----------</label>
    <br />
    <label class="lbl-cls2">----Your Song is added-----</label>
</div>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <td><a href="/AdminSide/Add">
            <button type="button" id="add">Add Songs</button></a></td>
        <td class="col-size"><a href="/AdminSide/ViewDashBoard">
            <button type="button">View DashBoard</button></a></td>
    </tr>
    <tr>
        <td><a href="/AdminSide/Delete">
            <button type="button">Delete Songs</button></a></td>
        <td class="col-size"><a href="/AdminSide/RestoreDashBoard">
            <button type="button">Restore Default DashBoard</button></a></td>
    </tr>
    <tr>
        <td><a href="/AdminSide/Update">
            <button type="button">Update Songs</button></a></td>
        <td class="col-size"><a href="/AdminSide/EnhanceDashBoard">
            <button type="button">Enhance DashBoard</button></a></td>
    </tr>
</table>