@{
    ViewBag.Title = "EnhanceDashBoard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<br />
<br />
<br />
<br />
<div class="jumbotron">
    <label class="lbl-cls2">-----------Admin-----------</label>
    <br />
    <br />
    <a href="/Home/HomePage">
        <button type="button" class="btn-danger btn-cls3">Sign Out</button>
    </a>
    <a href="/AdminSide/MainView">
        <button type="button" class="btn-danger btn-cls6">Back</button>
    </a>
</div>
