@{
    Layout = "~/views/shared/_Layout1.cshtml";
}
@model List<MyProjectv2.Models.Source>
<br />
<br />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <td><label>Movies List</label></td>
    </tr>
    @foreach (var x in Model){
        <tr>
            <td>@x.Name</td>
        </tr>
    }
</table>
<br />
<br />
<br />
<a href="/Hollywood/HollywoodPage">
    <button type="button" class="btn-danger btn-cls1">Hollywood</button>
</a>
<a href="/Bollywood/BollywoodPage">
    <button type="button" class="btn-danger">Bollywood</button>
</a>
<a href="/Lollywood/LollywoodPage">
    <button type="button" class="btn-danger">Lollywood</button>
</a>
<a href="/Albums/AlbumsPage">
    <button type="button" class="btn-danger">Albums</button>
</a>
<a href="/Artists/ArtistsPage">
    <button type="button" class="btn-danger">Artists</button>
</a>

